*, *::after, *::before{
  box-sizing: border-box;
}

:root{
  --text: #2B283A;
  --accent: #F55A5A;
  --gray: #918E9B;
  --background: #FFFFFF;
  --stroke: #F5F5F5;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, p{
  margin: 0;
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
}

.header--container{
  height: 55px;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.header--heading{
  font-size: 1rem;
  font-weight: 500;
  color: var(--background);
  margin-left: 7px;
}

.card--container{
  height: 168px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.card--info_container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 19px;
  width: 100%;
}

.card--info_location{
  display: flex;
  align-items: start;
}

.card--cover{
  width: 125px;
  border-radius: 5px;
  object-fit: cover;
}

.card--country{
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 4px;
}

.card--maps{
  text-decoration: underline;
  color: var(--gray);
  cursor: pointer;
  margin-left: 12px;
}

.card--maps,
.card--country,
.card--date,
.card--desc{
  font-size: 10px;
}

.card--heading,
.card--country,
.card--date,
.card--desc{
  color: var(--text);
}

.card--heading,
.card--date{
  font-weight: bold;
}

.card--heading{
  font-size: 25px;
  margin: 7px 0;
}

.card--desc{
  line-height: 1.5;
  margin-top: 9px;
}

hr{
  border: 1px solid var(--stroke);
  width: 100%;
  max-width: 470px;
  margin: 18px auto;
}

main{
  padding: 0 10px;
}